# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code files
*.Rproj.user/

# Project files
*.Rproj

# Temporary files
*.tmp
*.swp
*.bak

# Logs
*.log

# Other
.DS_Store

